.centrado {
    text-align: center;    
    vertical-align: middle;
}

.contenedor{
    padding-left:75px;
    max-width: 50%
}
.pequeño{
    width: 150px;
}

.miimagen{
    max-width: 100%;
    display: block;
    margin: auto;
}
body{
    background-color: lightsteelblue; 
}
table, th, td {
    border: 1px solid black; 
    border-collapse: collapse;
    padding: 10px; 
}