*{
    padding: 0;
    margin: 0;
}
.centrado {
    text-align: center;
    vertical-align: middle;
}

body{
    background-color: lightsteelblue;
}


.topnav {
    background-color: #333;
    overflow: auto;
}

.topnav a {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.hero {
    position: relative;
    height: 35vh; /*esta cosa hace que no se use mas de x parte de la pantalla */
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
}


.image-list {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 5px 0;
}

.image-item {
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
}

.image-item img {
    /* width: 300px; */
    max-height: 300px;
    object-fit: cover;
    padding-left: 20%;
    vertical-align: middle;
}
.row{
    display: flex;
    vertical-align: middle;
    text-align: center;
}
.column{
    flex: 50%;
    padding: 1px;
    
    /* height: 300px; */
}


footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 99%;
}